<strong>Olá, {{deliveryman}}</strong>
<p>Uma de suas entregas foi cancelada, comfira os detalhes abaixo:</p>
<p>
  <strong>Entrega: </strong> {{delivery}} <br />
  <strong>Motivo: </strong> {{description}} <br />
  <br />
  <small>
    Agradecemos a compreensão e desejamos um ótimo trabalho !
  </small>
</p>
