<strong>Olá, {{deliveryman}}</strong>
<p>Você possui um novo pedido de entrega, comfira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{product}} <br />
  <strong>Destinatário: </strong> {{recipient}} <br />
  <br />
  <small>
    Desejamos um ótimo trabalho !
  </small>
</p>
